@import "tailwindcss";

@theme {
  /* Подключаем шрифт */
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  
  /* Твой НОВЫЙ основной цвет #0B0073 */
  --color-horizon-blue: #0B0073;
  
  /* Радиусы скругления */
  --radius-3xl: 30px;
}

/* Глобальные настройки */
body {
  font-family: var(--font-sans);
  background-color: #F4F4F4;
}